@page "/frontendApiExample"
@rendermode InteractiveServer

@inject IHttpClientFactory HttpClientFactory

<PageTitle>FrontendApiExample</PageTitle>

<h1>FrontendApiExample</h1>

<p>@_message</p>


<input @bind="_inputValue" placeholder="Enter a string" />
<button @onclick="CalculateInstallment">Calculate Installment</button>
<br><br>
<input @bind="_inputValue" placeholder="Enter a string" />
<button @onclick="CalculateDuration">Calculate Duration</button>
<p>@_responseMessage</p>


@code {
    private string? _message;
    private string _inputValue = string.Empty;
    private string? _responseMessage;


  private async void CalculateInstallment()
  {
    var client = HttpClientFactory.CreateClient("MyHttpClient");
    var response = await client.PostAsJsonAsync("api/calculate-duration", _inputValue);
    _responseMessage = await response.Content.ReadAsStringAsync();
    StateHasChanged();
  }

  private async void CalculateDuration()
  {
      var client = HttpClientFactory.CreateClient("MyHttpClient");
      var response = await client.PostAsJsonAsync("api/calculate-duration", _inputValue);
      _responseMessage = await response.Content.ReadAsStringAsync();
      StateHasChanged();
  }
}
